@model IEnumerable<LibraryMVC.Models.LibraryCard>

@{
    ViewData["Title"] = "Index";
}

<h1>LibCards</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CardNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExpiryDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IssuedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpiryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.LibraryCardId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.LibraryCardId">Delete</a>
                }
                <a asp-action="Details" asp-route-id="@item.LibraryCardId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
